# State and runtime files
xu_state.json
xu_mempool.json
xu_nonce.json
xu_blocks.log

# Explicit tx JSONs
tx.json
wrapped_multi.json

# Ignore all other JSONs
*.json

# Misc
protocol.txt
.env

# IDE/Editor junk
.DS_Store
.idea/
.vscode/
*.swp
