# State and runtime files
carp_state.json
carp_mempool.json
carp_nonce.json
carp_blocks.log

# Explicit tx JSONs
tx.json
wrapped_multi.json

# Ignore all other JSONs
*.json

# Logs and blocks
*.log
/blocks/

# Misc
protocol.txt
.env

# IDE/Editor junk
.DS_Store
.idea/
.vscode/
*.swp
